@media(max-width: 1440px){
    .container{
        max-width: 1140px;
        margin: auto;
    }
}
@media(max-width:576px){
    .container{
        width: 95%;
    }
    .section_padding{
        padding: 20px 0;
    }
    .header_area{
        margin-top: 10px;
    }
    .nav_area {
        display: none;
    }
    .nav_logo img{
        width: 80%;
    }
    .mobil_nav{
        display: block;
    }
    .baner {
        display: block;
        margin: 0;
    }
    .bader_title {
        width: 100%;
        margin-bottom: 50px;
    }
    .bader_title h1{
        margin-top: 0;
    }
    .service_card_area{
        display: block;
    }
    .service_card{
        margin-bottom: 40px;
    }
    .forget{
        text-align: center;
    }
    .about_c1 {
        margin-left: 100px;
    }
    .about_card{
        display: inline-block;
    }
    .about_card_text h4 {
        margin-top: 10px;
    }
    .section_baner{
        display: block;
    }
    .section_baner_text{
        width: 100%;
        margin-bottom: 30px;
    }
    .section_baner_text h3 {
        margin-bottom: 10px;
    }
    .section_baner_text p {
        width: 100%;
    }
    .section_baner_img{
        width: 100%;
    }
    .section_baner_img img{
        width: 100%;
    }
    .gallery_nav ul li a {
        margin: 0 3px;
        padding: 5px 5px;
    }
    .ceo_area {
        display: block;
    }
    .ceo_title h1 {
        font-size: 38px;
    }
    .ceo_details {
        margin-top: 30px;
    }
    .ceo_details p{
        width: 100%;
    }
    .alie{
        margin-right: 0px;
    }
    .ceo_intro {
        width: 35%;
    }
    .subtion_card_zon{
        display: block;
        width: 80%;
        margin: auto;
    }
    .subtion_card {
        margin: 50px 0;
    }
}