*{margin: 0; padding: 0; box-sizing: border-box;}

body{
    font-family: "Lato", sans-serif;
}
.section_padding{
    padding: 50px 0;
}
.btn {
    color: #fff;
    background-color: blueviolet;
    border: navajowhite;
    padding: 10px 24px;
    border-radius: 10px;
    font-size: 15px;
}
.container{
    max-width: 1140px;
    margin: auto;
}
.sub_title{
    text-align: center;
}
.sub_title h3 {
    font-size: 32px;
    color: #8d8d93;
    font-weight: 600;
    margin-bottom: 30px;
}
.sub_title p {
    font-size: 14px;
    width: 80%;
    margin: auto;
    line-height: 1.3;
    color: #0b0b12;
}

/* Fonts imports */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:wght@300;400;500;700;900&family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap');



/* Start Header Area */
.header_area {
    background-color: #fff;
    margin-top: 50px;
    position: sticky;
    top: 0;
}
.nav_logo h3{
    font-size: 35px;
    font-weight: 800;
}
.navber_area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_area ul{
    display: flex;
    justify-content: end;
    list-style: none;
    align-items: center;
}
.nav_area ul li a{
    text-decoration: none;
    padding: 10px 20px;
    font-size: 14px;
    color: black;
    font-weight: 600;
}
.nav_area ul li a:hover{
    color: blueviolet;
}
/* End Header Area */

/* Start Baner Area */
.baner_area{
    
}
.baner{
    display: flex;
    justify-content: space-around;
}
.bader_title {
    width: 50%;
}
.bader_title h1{
    font-size: 48px;
    color: blueviolet;
    font-weight: 800;
    margin-top: 50px;
}
.bader_title p {
    font-size: 18px;
    padding: 30px 0;
    width: 90%;
}
.bader_title button{}
.baner_form {
    background-color: palegoldenrod;
    padding: 35px 40px;
    text-align: center;
    border-radius: 20px;
}
.baner_form h4 {
    font-weight: 600;
    font-size: 20px;
}
.baner_form p{
    font-size: 14px;
    padding-top: 15px;
}
.baner_form input {
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 6px;
    border: 1px solid #fff;
}
.forget {
    text-align: end;
    margin-top: -16px;
}
.baner_form i {
    margin: 0px 14px;
    font-size: 30px;
}
.baner_form button{}
.baner_form a {
    font-size: 10px;
    text-decoration: none;
    color: black;
}
/* End Baner Area */

/* Start Service Area */
.service_card_area {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
}
.service_card {
    text-align: center;
    box-shadow: 1px 1px 8px #d5d5d5;
    padding: 30px 20px;
    margin: 0 20px;
}
.service_card i{
    font-size: 50px;
}
.service_card h4 {
    font-size: 24px;
    margin-top: 26px;
}
.service_card p {
    font-size: 14px;
    padding: 20px 0;
}
.service_card button{}
/* End Service Area */